body{
background-image: url("wal/wal.jpg");
background-size: cover;
background-repeat: no-repeat;
background-color: lightblue;
padding: 10px;
}
h1{
  text-align: center;
  background-color: pink;
}
h3{
  text-align: center;
}
.forms{
  text-align: center;
  background-color: pink;
  border: 2px;
}
.p{
  border-style: dotted;
  border-width: medium;
}
strong{
  background-color: yellow;
}
h5{
  text-decoration-style: double;
}
